<div class='makoletList'>
    <ul class='makoletList'>
        <li ng-repeat='item in $ctrl.makoletList'>
            <div class='makoletListItem'>
                <input class='right' type="checkbox" ng-model="deleted"/>
                <a ng-click='$ctrl.removeItem(item)' class="left"><i class="fa fa-close"></i></a>
                <p class='makoletList' ng-class="{strike: deleted}">{{item.name}}</p>
            </div>
        </li>
    </ul>
    <div style='height: 150px;'></div>
</div>