* {
    box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

ul.makoletList {
    list-style: none;
}

div.makoletList {
    height: 100%;
    max-width: 500px;
}

div.makoletListItem {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #73AD21;
    position: relative;
    text-align: center;
}

p.makoletListItem {
    max-width: 350px;
    overflow: auto;
    word-break: keep-all;
}

.right {
    position: absolute;
    right: 3px;
}

.left {
    position: absolute;
    left: 3px;
}

.bottomLineFixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: Azure;
}

.bottomLineFixed input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.bottomLineFixed input:focus {
    border: 3px solid #555;
}